body{
    background-color: darkcyan;
    font-family: 'Times New Roman', Times, serif;
}
#message{
    font-family:inherit;
    font-size: 10px;
}
.send{
    color: brown;
    text-align: center;
    font-style: inherit;

}