body{
    background-color: darkcyan;
    font-family: 'Times New Roman', Times, serif;
}
#message{
    font-family:inherit;
    font-size:100px;
    background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
}
.send{
    color: white;
    text-align: center;
    font-style: inherit;
    background-color: green;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    animation: both;
}